<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Xin chào <b style="color: rgba(253, 156, 156, 0.719);">{{myInfo.fullname}}</b>
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" size-sm>       
        <ion-tab-button [routerLink]="['/main-qrscan']">
          <ion-icon name="scan-outline"></ion-icon>
          <ion-label>Quét QR</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-tab-button [routerLink]="['']">
          <ion-icon name="push-outline"></ion-icon>
          <ion-label>Nạp tiền</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-tab-button [routerLink]="['/transfer']">
          <ion-icon name="rocket-outline"></ion-icon>
          <ion-label>Chuyển tiền</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col size="3" size-sm>
        <ion-tab-button [routerLink]="['']">
          <ion-icon name="card-outline"></ion-icon>
          <ion-label>Quản lý ví</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card (click)="presentModal(item)" *ngFor="let item of myWallets">
    <ion-card-header>
      <ion-card-subtitle>{{item.walletname}}</ion-card-subtitle>
      <ion-card-title color="primary"> {{item.balance | number}}đ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>