node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/APIServices/.vs/APIServices
/APIServices/APIServices/bin/Debug/net5.0
/APIServices/APIServices/obj
