<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button fill='clear' (click)="stopScan()" [routerLink]="['/tabs/tab1']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      
      Quét QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="scan-outline"></ion-icon>
    Start scan
  </ion-button> -->
 
  <!-- <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button> -->
 
  <!-- Shows our camera stream -->
  <video #video [hidden]="!scanActive" width="100%"></video>
 
  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>
 
  <!-- Stop our scanner preview if active -->
  <!-- <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button> -->
 
  <!-- <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card> -->
</ion-content>
