<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button fill='clear' (click)="dismiss()" [routerLink]="['/tabs/tab1']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      
      QRCode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <ngx-qrcode 
  [elementType]="elementType" 
  [value]="value"
  cssClass="aclass"
  [errorCorrectionLevel]="errorCorrectionLevel">
</ngx-qrcode>
</ion-content>
