<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Thông tin cá nhân
      <a style="float:right;" (click)="logout()">Đăng xuất</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <ngx-qrcode 
  [elementType]="elementType" 
  [value]="value[0].walletid"
  cssClass="aclass"
  [errorCorrectionLevel]="errorCorrectionLevel">
</ngx-qrcode>
</ion-content>