<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tin nhắn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="fnSendMessage(form)">
    <ion-grid style="padding-top: 150px;">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="username" placeholder="Tên người nhận" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="message" placeholder="tin nhắn" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="success" size="large" type="submit" [disabled]="form.invalid" expand="block">Gửi</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
