<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- <ion-button *ngIf="towalletid" fill='clear' (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button> -->
      <ion-button fill='clear' [routerLink]="['/tabs/tab1']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      
      Chuyển tiền
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="isInputForm" #form="ngForm" (ngSubmit)="fnNewTransaction(form)">
    <ion-grid style="padding-top: 150px;">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label>Chọn ví</ion-label>
              <ion-select name="walletid" placeholder="Select One" ngModel required>
                <ion-select-option *ngFor="let item of myWallets" value="{{item.walletid}}" selected>{{item.walletname}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="touser">
              <ion-input name="toUserName" placeholder="Người nhận" [(ngModel)]="touser" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea style="min-height: 100px;" name="toWalletid" placeholder="Địa chỉ ví người nhận" [(ngModel)]="towalletid" ngModel required></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-input type="number" name="amount" placeholder="Số tiền" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea style="min-height: 100px;" name="content" placeholder="Nội dung(Không bắt buộc)" ngModel></ion-textarea>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="success" size="large" type="submit" [disabled]="form.invalid" expand="block">Gửi</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-card *ngIf="!isInputForm">
    <ion-card-header>
      <ion-card-subtitle>Thông tin giao dịch</ion-card-subtitle>
      <ion-card-title color="success">Người nhận: {{result.toWallet.fullname}}</ion-card-title>
      <ion-card-title color="success">Địa chỉ ví nhận: {{result.toWallet.walletid | slice:0:12}}</ion-card-title>
      <ion-card-title color="success">Số tiền giao dịch: {{result.transaction.amount}}đ</ion-card-title>
      <div style="text-align: center;">
        <ion-button (click)="onSubmit(true)" color="success">Xác nhận</ion-button>
        <ion-button (click)="onSubmit(false)" color="danger">Từ chối</ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
