<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Danh sách giao dịch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 *ngIf="listTransaction && listTransaction.length == 0" style="color: rgb(255, 124, 124);text-align: center;"> Chưa có giao dịch phát sinh</h4>
  <ion-card *ngFor="let item of listTransaction">
    <ion-card-header>
      <ion-card-subtitle>Ví Giao Dịch: {{item.walletname}}. <b style="float: right;color: yellowgreen;">{{item.createddate | date: 'hh:mm:ss dd/MM/yyyy'}}</b></ion-card-subtitle>
      <ion-card-title *ngIf="item.amount > 0" color="success"> +{{item.amount | number}}đ</ion-card-title>
      <ion-card-title *ngIf="item.amount <= 0" color="danger"> {{item.amount | number}}đ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mã Giao dịch: {{item.transactionid}}<br>
      Nội dung: {{item.content}}<br>
      {{item.amount <= 0 ? 'Người nhận: ' + item.receivedfullname + ' - ' + item.receivedusername : 'Người gửi: ' + item.createdfullname + ' - ' + item.createdusername}}<br>
      Trạng thái: <i style="color: {{item.processtype == 1 ? 'yellow': item.processtype == 2 ? 'green' : 'red'}};">{{item.processtype == 1 ? 'Chưa xử lý': item.processtype == 2 ? 'Hoàn thành' : 'Từ chối'}}</i>
    </ion-card-content>
  </ion-card>
</ion-content>
