<ion-header>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="fnLogin(form)">
    <ion-grid style="padding-top: 150px;">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="text-align: center;">
            <h3>Đăng nhập</h3>
            <h5 *ngIf="myInfo.fullname">Xin chào <b style="color: rgb(72, 223, 72);">{{myInfo.fullname}}</b></h5>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="username" type="email" placeholder="Tên đăng nhập" [(ngModel)]="myInfo.username" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Mật khẩu" ngModel required></ion-input>
            </ion-item>
          </div>
          <div style="display: flex;" padding>
            <div style="width: 80%;">
              <ion-button color="success" size="large" type="submit" [disabled]="form.invalid" expand="block">Đăng nhập</ion-button>
            </div>
            <div style="width: 20%;">
              <ion-tab-button (click)="showFingeerprintAuthentication()">
                <ion-icon size="large" name="finger-print-outline"></ion-icon>
              </ion-tab-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
