<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Ví</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Danh sách giao dịch</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Tin nhắn</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Tôi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
